# Python
# Virtual environment
venv/
/env
__pycache__
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache
test/__pycache__

# Packaging
*.egg-info/
.installed.cfg
wheelhouse/
.tox/
share/python-wheels/
*.egg
build/
dist/

# Editor/OS files
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React / Node.js
# Dependencies
/node_modules

# Build artifacts
/build
/dist
/out
/docs
.vitepress/cache
# Comment out if you want to commit the lock file, which is recommended
# package-lock.json 
# yarn.lock 

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
